---
tags:
  - activity
---
The evaluation of whether or not a [[Products, Services, Results]] complies with a regulation, requirement, specification, or imposed condition.

Contrast with [[Validation]].