---
tags:
  - activity
---
The evaluation of whether or not a [[Products, Services, Results]] complies with a regulation, [[requirement]], [[Requirements Specification|Specification]], or imposed condition.

Contrast with [[Validation]].