---
tags:
  - swebok/fundamental
SWEBOK_KA: "[[Software Construction]]"
---
Building software in such a way that faults can be readily found by the software engineers writing the software as well as by the testers and users during independent testing and operational activities.

Specific techniques that support constructing for verification include:
- following coding standards to support code reviews and unit testing
- organizing code to support [[automated testing]]
- restricting the use of complex or hard-to-understand language structures